<!DOCTYPE html>
<html lang="ja">

{{ template "head" . }}

<body >
{{ template "header" .}}
<div class="container" >
<h1>店舗一覧</h1>
{{if .errMsg}}
<div style="color:red">
    <p> {{.errMsg}} </p>
</div>
{{end}}
<table class="table" style="width:100%;">
    <thead>
        <tr>
            <th>ShopID</th>
            <th>Shopname</th>
            <th>Address</th>
            <th>Genre</th>
            <th>Tel</th>
            <th>Summary</th>
            <th>Tables</th>
            <th>CreatedAt</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {{.}}
        {{range .stores}}
        <tr>
            <td>{{.Shopid}}</td>
            <td>{{.Shopname}}</td>
            <td>{{.Shopaddress}}</td>
            <td>{{.Shopgenre}}</td>
            <td>{{.Shoptel}}</td>
            <td>{{.Shopsummary}}</td>
            <td>{{.Shoptable}}</td>
            <td>{{.CreatedAt.Year}}-{{.CreatedAt.Month}}-{{.CreatedAt.Day}}</td>

            <td> <form action="/delete/{{.ID}}" method="post" style="display:inline;" ><button class="button">delete</button></form></td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ template "footer" .}}
</body>
</html>